<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@typopro/web-iosevka@3.7.5/TypoPRO-Iosevka.min.css">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/home/home.css">

    <script defer type="module" src="/static/home/home.js"></script>

    <title>qxb3</title>
  </head>

  <body theme="light">
    <main>
      <div id="history"></div>

      <div id="prompt-line">
        <p>
          <span class="green">➜ </span>&nbsp;
          <span class="cyan">~</span>&nbsp;
        </p>

        <p id="prompt"></p>
        <div id="indicator"></div>
      </div>
    </main>
  </body>
</html>
